---
import CardServices from "../components/CardServices.astro";
import Facebook from "../icons/Facebook.astro";
import Instagram from "../icons/Instagram.astro";
import LinkedIn from "../icons/LinkedIn.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Servicios - Consultora Arte & Coaching">
  <main class="flex justify-center items-center flex-col h-full w-[80vw] my-12">
	<h1 class="font-semibold text-pretty text-3xl mt-20 mb-12 capitalize">¿Estas buscando desarrollar todo tu potencial y alcanzar tus metas tanto en el ambito personal como profesional?</h1>
    <section class="flex justify-between items-center w-full gap-4">
		<CardServices/>
    </section>
  </main>
</Layout>
